<h1>Frequent-ngmodules</h1>
  <table>
    <thead>
      <tr>
        <th>NgModule</th>
        <th>匯入自</th>
        <th>為何使用</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>BrowserModule</td>
        <td>@angular/platform-browser</td>
        <td>當你想要在瀏覽器中執行應用時</td>
      </tr>
      <tr>
        <td>CommonModule</td>
        <td>@angular/common</td>
        <td>當你想要使用NgIf和NgFor</td>
      </tr>
      <tr>
        <td>FormsModule</td>
        <td>@angular/forms</td>
        <td>當要建構範本驅動表單時(它包含NgModel)</td>
      </tr>
      <tr>
        <td>ReactiveFormsModule</td>
        <td>@angular/forms</td>
        <td>當要建構響應式表單時</td>
      </tr>
      <tr>
        <td>RouterModule</td>
        <td>@angular/router</td>
        <td>要使用路由功能，並且你要用到RouterLink,.forRoot()和.forChild()時</td>
      </tr>
      <tr>
        <td>HttpClientModule</td>
        <td>@angular/common/http</td>
        <td>當你要和伺服器對話時</td>
      </tr>
    </tbody>
  </table>
  <h2>Importing Modules</h2>
    <p>檔案頂部的是JavaScript的匯入語句，而@NgModule中的imports陣列則是Angular特有的</p>
  <h2>BrowserModule和CommonModule</h2>
    <p>BrowserModule不能匯入延遲載入的特性模組中</p>
