<app-guide-displaying-data></app-guide-displaying-data>
<app-guide-template-syntax></app-guide-template-syntax>
<app-guide-user-input></app-guide-user-input>
<div>
  <app-guide-lifecycle-hook [triggerHook]="inputHook" *ngIf="toggleLifeCycle">{{projectLifecycle}}</app-guide-lifecycle-hook>
  <button (click)="toggleLifeCycle = !toggleLifeCycle">Toggle Life Cycle</button>
  <button (click)="triggerHook()">Click to trigger ngOnChanges</button>
  <button (click)="0">Click</button>
  <button (click)="countProject()">Click to project life cycle</button>
</div>
<app-life-cycle-brief *ngIf="briefChild">
  <app-life-cycle-brief-child></app-life-cycle-brief-child>
</app-life-cycle-brief>
<button (click)="briefChild = !briefChild">Brief Child</button>
<app-guide-component-interaction></app-guide-component-interaction>
<app-guide-component-styles style="background-color: orange;" [class.active]="changeStyle">
  <button (click)="changeStyle = !changeStyle">Click to chang border width</button>
</app-guide-component-styles>
<app-guide-dynamic-component-loader></app-guide-dynamic-component-loader>
<app-guide-elements></app-guide-elements>
<app-guide-attribute-directives></app-guide-attribute-directives>
<app-guide-structural-directives></app-guide-structural-directives>
<app-guide-pipes></app-guide-pipes>
<router-outlet></router-outlet>
