<app-guide-displaying-data></app-guide-displaying-data>
<app-guide-template-syntax></app-guide-template-syntax>
<app-guide-user-input></app-guide-user-input>
<div>
  <app-guide-lifecycle-hook [triggerHook]="inputHook" *ngIf="toggleLifeCycle">{{projectLifecycle}}</app-guide-lifecycle-hook>
  <button (click)="toggleLifeCycle = !toggleLifeCycle">Toggle Life Cycle</button>
  <button (click)="triggerHook()">Click to trigger ngOnChanges</button>
  <button (click)="0">Click</button>
  <button (click)="countProject()">Click to project life cycle</button>
</div>
<app-life-cycle-brief *ngIf="briefChild">
  <app-life-cycle-brief-child></app-life-cycle-brief-child>
</app-life-cycle-brief>
<!-- <app-life-cycle-data-change [title2]="title2"></app-life-cycle-data-change>
  <button (click)="clicked()">click to change data(outside component)</button> -->
  <app-life-cycle-data-change [name]="name">
    <pre class="title">YOUR CONTENT HERE</pre>
  </app-life-cycle-data-change>
<button (click)="briefChild = !briefChild">Brief Child</button>
<app-guide-component-interaction></app-guide-component-interaction>
<app-guide-component-styles style="background-color: orange;" [class.active]="changeStyle">
  <button (click)="changeStyle = !changeStyle">Click to chang border width</button>
</app-guide-component-styles>
<!-- <app-guide-dynamic-component-loader></app-guide-dynamic-component-loader> -->
<app-guide-elements></app-guide-elements>
<app-guide-attribute-directives></app-guide-attribute-directives>
<app-guide-structural-directives></app-guide-structural-directives>
<app-guide-pipes></app-guide-pipes>
<app-guide-reactive-forms></app-guide-reactive-forms>
<app-guide-forms></app-guide-forms>
<app-guide-form-validation></app-guide-form-validation>
<app-guide-dynamic-form [questions]="questions$ | async"></app-guide-dynamic-form>
<app-guide-observable></app-guide-observable>
<app-guide-ngmodules></app-guide-ngmodules>
<app-guide-ngmodule-vs-jsmodule></app-guide-ngmodule-vs-jsmodule>
<app-guide-bootstrapping></app-guide-bootstrapping>
<app-guide-frequent-ngmodules></app-guide-frequent-ngmodules>
<app-guide-module-types></app-guide-module-types>
<router-outlet></router-outlet>
